<%# Stats Row %>
<div class="flex items-center gap-4 mb-6">
  <div id="queue_counter">
    <%= render "queue_counter", count: @queue_count %>
  </div>
  <div id="timer_section" class="flex-1">
    <%= render "timer", work_session: @work_session %>
  </div>
  <div id="pause_button">
    <%= render @active_pause ? "resume_button" : "pause_button", pause_reasons: @pause_reasons %>
  </div>
</div>

<%# Main Content %>
<div class="bg-white rounded-xl border border-slate-200 min-h-[500px]">
  <div id="dialer_card">
    <%= render "lead_card", lead: @current_lead, call_session: nil %>
  </div>
</div>
